@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');

 body{
    font-family: "Spline Sans",sans-serif;
    color: #777;
    line-height: 1.7;
 }

 h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color:#222;
 }

 a{
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
 }

 a:hover{
    color: #F58d17;
 }

 img{
    width: 100%;
 }

 section{
   padding-top: 120px;
   padding-bottom: 120px;
 }

 .shadow-on-hover{
   transition: all 0.3s;
 }

 .shadow-on-hover:hover{
   box-shadow: 0 10px 40px rgba(157, 153, 153, 0.1);
 }

 .navbar-nav .nav-item .nav-link{
   color:#777
}

.navbar-nav .nav-item .nav-link:hover{
   color:#1a1818d8
}


 .btn{
    border-radius: 0;
    padding: 14px 38px;
 }

 .btn-brand{
    color: white;
    font-weight: 500;
    border-color: #F58d17;
    background-color: #F58d17;
 }

 .btn-brand:hover{
    border-color: #bf6703;
    background-color: #bf6703;
    color: white;
 }

 .bg-cover{
   background-position: center !important;
   background-size: cover !important;
   background-repeat: no-repeat !important;
}

 .slide-1{
    background: linear-gradient(#04061d7b, #02040f86), url(images/home1.jpg);
 }
 
 .slide-2{
    background: linear-gradient(#0000007b, #00000086), url(images/home2.jpg);
 }

 .slide-3{
    background: linear-gradient(#0000007b, #00000086), url(images/home3.jpg);
 }

#heroslider h6::after,
#heroslider h6::before{
   content: " ";
   width: 40px;
   height: 4px;
   background-color: white;
   display: inline-block;
   margin: 10px;
   vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next{
  background-color: rgba(0,0,0,0.6);
  width: 40px;
  height: 70px;
  margin: auto;
}

#about.divider{
   width: 60px;
   height: 2px;
   display: block;
   background-color: #F58d17;
}

 .intro-text{
   margin-bottom: 40px;
   text-align: center;
 }

 .intro-text p{
   max-width: 500px;
   margin: 16px auto 0 auto;
 }
 


 #menu .nav-pills .nav-link{
   background-color: rgb(255, 255, 255);
   margin-left: 8px;
   margin-right: 8px;
   color: #222;
   border-radius: 100px;
   box-shadow: 0 10px 40px #1f1d1d;
 }

 #menu .nav-pills .nav-link.active{
   background-color: #F58d17;
   color: rgb(255, 255, 255);
 }

 .menu-item .stars{
   color: #F58d17;
 }

 #services{
   background: linear-gradient(#0208337b, #0c022386), url(images/why\ to\ choose\ us.jpg);
 }

 .feature{
   border: 2px solid rgba(245, 222, 179, 0.31);
 }

 .feature .feature-icon{
   width: 80px;
   height: 80px;
   background-color: #F58d17;
   color: white;
   font-size: 28px;
   display: inline-grid;
   align-content: center;
   text-align: center;
 }

 .team-member img{
   max-width: 140px;
   box-shadow: -10px -10px 0 #F58d17;
   border-radius: 100px;
 }

 #reviews{
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/customer.jpg);
}

.review img{
   width: 75px;
   height: 75px;
   object-fit: cover;
}

.review .quote-icon{
   font-size: 74px;
   color: #F58d17;
   line-height: 1;
}

.review .stars{
   color: #F58d17;
}

#review .carousel-indicators{
   margin-bottom: 2px;
}

#reservation .form-control{
   border-radius: 0;
}

#reservation .form-control:focus{
   box-shadow: none;
   border-color: #F58d17;
}

#reservation input.form-control{
   height: 47px;
}

.insta-img{
   position: relative;
   overflow: hidden;
}

.insta-img .insta-btn{
   width: 90px;
   height: 90px;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top:50%;
   left: 50%;
   font-size: 34px;
   transform: translate(-50%, -50%);
   opacity: 0;
}

.insta-img img{
   transition: all 0.4s;
}

.insta-img:hover img{
   transform: scale(1.2);
}

.insta-img:hover .insta-btn{
   opacity: 1;
}

.ytchannel img{
   width: 40%;
   object-fit: cover;
}

@media (max-width:768px){
   .ytchannel{
      flex-direction: column;
   }
   .ytchannel img{
      width: 100%;
   }
}

#footer{
   background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(images/footer.jpg);
   padding-top: 120px;
   padding-bottom: 30px;
}

.footer-top{
   margin-bottom: 30px;
}

#footer p,#footer a{
   color: white;
}

#footer .social-link a{
   font-weight: normal;
   font-size: 24px;
   margin-right: 10px;
}

#footer img{
   max-width: 175px;
}

.footer-bottom{
   padding-top: 30px;
   border-top: 2px solid rgba(255,255,255,0.4);
}